.checkbox {
  min-width: 20px;
  height: 20px;
  border-radius: 20px;

  cursor: pointer;
  transition: all .3s ease-in-out;
}

.unchecked {
  border: 2px solid var(--blue-300);
}

.checked {
  border: none;
  background-image: url(../../../assets/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}