.wrapper {
  max-width: 80rem;
  padding-inline: 1rem;
  
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}